.section_wrapper{
    background-color: #222222;
    background-image: url(../img/Map.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    
}

.conteiner{
margin-top: 100px;
}

.contact_us{
    margin: 0 auto;
    width: 940px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact_us_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 110px;
}

.contact_us_text{
    font-family: 'droid-serif', serif;
    padding-top: 24px;
    font-weight: 400;
    font-style: italic;
    color: #555555;
    text-align: center;
    font-size: 20px;
    padding-bottom: 110px;
}

.all_inputs{
    width: 940px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
}

.textarea_input{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 210px;
margin: 0 auto;
margin-bottom: 28px;
margin-bottom: 30px;
}

.input_wrapper input {
    margin-bottom: 30px;
}

.input_wrapper{
    /* height: 51px; */
    padding-left: 0;
    width: 455px;
    font-family: 'Montserat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #bbbbbb;
    /* padding: 20px; */
    box-sizing: border-box;
    border: none;
    margin-bottom: 28px;
}

.input{
    font-family: 'Montserrat', sans-serif;
    width: 455px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
    border-radius: 6px 6px;
    color: #bbbbbb;
    text-transform: uppercase;
    /* margin-bottom: 28px; */
}

.textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 455px;
    height: 212px;
    border-radius: 6px 6px;
    color: #bbbbbb;
    text-transform: uppercase;
    padding: 20px 0 0 20px;
    align-items: center;
}

.form_button{
    display: block;
    width: 240px;
    height: 65px;
    font-family: 'Montserat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border: none;
    background-color: #fed136;
    cursor: pointer;
    padding: 26px 47px;
    border-radius: 6px 6px;
    text-transform: uppercase;
    margin: 0 auto;
    
}